
<MudAppBar Elevation="1" Fixed="false">
	<MudIconButton Class="onclick-white" Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" />
	<MudSpacer />
	<MudIconButton Class="onclick-white" Icon="@Icons.Material.Filled.Search" Color="Color.Inherit" Edge="Edge.End" />
</MudAppBar>

<MudImage style="height: 20vh" />

<div class="main-container">
	<div style="position: relative; top: -24px; offset: 0;  gap: 1vh; display: flex; flex-direction: column; width: 100vw">

		<div class="user-main-container">
			<MudImage Src="static/images/user-image.png" Class="user-image noselect" />
			<div class="user-faq onclick-white">
				<MudText Class="noselect" Style="color: white" Typo="Typo.h5">
					Пользователь
				</MudText>
				<div style="display: flex; flex-direction: row; align-items: center">
					<MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Size="Size.Small" Style="color: #a39f99" />
					<MudText Class="noselect" Style="color: #a39f99" Typo="Typo.body1">
						Подробнее
					</MudText>
				</div>
			</div>
		</div>

		<div class="community-container">
			<MudButton Style="justify-content: right; border-radius: 20px 0 0 20px" FullWidth Class="button onclick-white" Variant="Variant.Outlined" Color="Color.Default">
				<MudText Style="margin: 0 auto 0 1vw" Class="text-count" Typo="Typo.body1">
					1234
				</MudText>
				<MudText Typo="Typo.body1">
					Друзья
				</MudText>
			</MudButton>
			<div style="background-color: #7c7a77; height: 8vh; width: 2px; margin-top: 1vh" />
			<MudButton Style="justify-content: left; border-radius: 0 20px 20px 0" FullWidth Class="button onclick-white" Variant="Variant.Outlined" Color="Color.Default">
				<MudText Typo="Typo.body1">
					Сообщества
				</MudText>
				<MudText Style="margin: 0 1vw 0 auto" Class="text-count" Typo="Typo.body1">
					1234
				</MudText>
			</MudButton>
		</div>

		<div class="gallery-container">
			<div class="gallery">
				<MudImage Src="static/images/empty-image.png" Class="gallery-image noselect" />
				<MudImage Src="static/images/empty-image.png" Class="gallery-image noselect" />
				<MudImage Src="static/images/empty-image.png" Class="gallery-image noselect" />
			</div>
			<div style="margin-top: auto; margin-bottom: 0; display: flex; flex-direction: column; align-items: center">
				<div style="background-color: #7c7a77; width: 95vw; height: 0.5px; position: absolute" />
				<div class="buttons">
					<MudButton Class="onclick-white" StartIcon="@Icons.Material.Filled.Add" FullWidth Variant="Variant.Text" Style="height: calc(7vh + 6px); color: white; border-radius: 0 0 0 24px">
						Добавить
					</MudButton>
					<div style="background-color: #7c7a77; height: 6vh; width: 1px; left: calc(50vw + 0.25px); position: absolute" />
					<MudButton Class="onclick-white" EndIcon="@Icons.Material.Filled.ArrowForward" FullWidth Variant="Variant.Text" Style="height: calc(7vh + 6px); color: white; border-radius: 0 0 24px 0">
						Посмотреть всё
					</MudButton>
				</div>
			</div>
		</div>

		<div class="titles-container">
			<div style="display: flex; flex-direction: column; align-items: center">
				<div class="buttons">
					<MudInput Style="margin-left: 3vw; margin-right: 2vw; border-radius: 24px; padding: 0 !important; color: white; width: 80vw" Variant="Variant.Filled"
							  IconSize="Size.Large" T="string" AdornmentColor="Color.Default" Adornment="Adornment.End"
							  AdornmentIcon="@Icons.Material.Filled.Search" Underline="false" Placeholder="Поиск по записям" />
					<div style="background-color: #7c7a77; height: 6vh; width: 2px; position: absolute; left: 80vw" />
					<MudIconButton Class="onclick-white" EndIcon="@Icons.Material.Filled.ArrowForward" Icon="@Icons.Material.Filled.Add"
								   Size="Size.Large" Style="height: calc(7vh + 6px); color: white; width: 20vw; border-radius: 0 24px 0 0" />
				</div>
				<div style="background-color: #7c7a77; width: 96vw; height: 1px; top: calc(7vh + 5px); position: absolute" />
			</div>

			<div style="margin-top: 6vh; display: flex; flex-direction: column; align-items: center">
				@if (false)
				{

				}
				else
				{
					<MudImage Class="noselect" Style="width: 20vh" Src="static/images/wall_edit_white.png" />
					<MudText Class="noselect" Style="color: white" Typo="Typo.h6">
						У вас пока нет записей
					</MudText>
				}
			</div>
		</div>
	</div>
</div>



<style>

	.user-image {
		position: absolute;
		width: 16vh;
		top: -8vh;
		border: 6px solid;
		border-color: darkslategrey;
		border-radius: 50%;
		background-color: darkslategrey
	}

	.button {
		margin: 1vh 1vw;
		color: white;
		border-color: #7c7a77;
	}

	.text-count {
		background-color: white;
		color: black;
		padding: 4px 8px;
		border-radius: 16px
	}

	.gallery-image {
		width: 10vh;
		margin: 0 2vw;
		border-radius: 8px;
	}

	.mud-input > input.mud-input-root.mud-input-root-filled, div.mud-input-slot.mud-input-root.mud-input-root-filled {
		padding: 12px 12px 10px;
	}

	.mud-input-adornment.mud-input-adornment-end.mud-input-root-filled-shrink > .mud-icon-root.mud-svg-icon {
		margin-right: 16px;
		color: white
	}

</style>